{% extends "base.html.twig" %}

{% block title %}
    Pasiklydai?
{% endblock %}

{% block content %}
    <div class="col-sm-12 content">
        <div class="box">
            <h3>Panašu, kad pasiklydai.</h3><br>
            <a href="{{ path('app.index') }}">Grižti?</a>
        </div>
    </div>
{% endblock %}