<!DOCTYPE html>
<html lang="lt">

<head>
    {% block head %}
        <title>
            {% block title %}
                Populiariausi žaidimų serveriai Lietuvoje! Top serveriai
            {% endblock %}
        </title>
        <meta name="description"
              content="{% block description %}Visi populiariausi žaidimų serveriai viename puslapyje. Top Serveriai.{% endblock %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}
        {% endblock %}
        <link rel='shortcut icon' type='image/x-icon'
              href="{% block favicon %}{{ asset('favicon.ico') }}{% endblock %}"/>
    {% block css %}
    <link href="{{ asset('assets/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block add_css %}
        {% endblock %}
    {% endblock %}
    {% block js %}
        <script src="{{ asset('assets/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/angular.min.js') }}"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-86795585-1', 'auto');
            ga('send', 'pageview');

        </script>
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block addons %}
    {% endblock %}
    <!--NAVBAR-->
{% block navbar %}
    <div class="row rowb">
        <div class="col-md-10">
            {% include "::/default/navbar.html.twig" %}
        </div>
    </div>
{% endblock %}
    <!--LEFT-->
    <div class="row rowb">
        <div class="col-lg-10">
            <div class="col-md-2 leftSidebar">
                {% block sidebar %}
                    {{ render(controller('AppBundle:Default:leftSidebar')) }}
                {% endblock %}
            </div>
            <!--RIGHT-->
            <div class="col-md-10 contentRight">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="row rowb">
        <div class="col-lg-10">
            <!--RIGHT-->
            <footer class="col-md-12">
                {{ include(':default:footer.html.twig') }}
            </footer>
        </div>
    </div>
    <div class="row rowb">
        <div class="col-lg-10">
            <!--RIGHT-->
            <div class="col-md-12 copyright">
                {{ include(':default:copyright.html.twig') }}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $(".spanLogo").click(function () {
                $(".leftSidebar").fadeToggle("fast");
            });
            $(".blockOfNav").click(function () {
                $(".nav").fadeToggle("fast");
                $(".blockOfNav .glyphicon-triangle-right").toggle();
                $(".blockOfNav .glyphicon-triangle-bottom").toggle();
            });
            $(".blockOfGame").click(function () {
                $(".navGame").fadeToggle("fast");
                $(".blockOfGame .glyphicon-triangle-right").toggle();
                $(".blockOfGame .glyphicon-triangle-bottom").toggle();
            });

        });
        $(document).ready(function() {

            (function ($) {
                $('.tab ul.tabs').addClass('active').find('> li:eq(0)').addClass('current');

                $('.tab ul.tabs li a').click(function (g) {
                    var tab = $(this).closest('.tab'),
                            index = $(this).closest('li').index();

                    tab.find('ul.tabs > li').removeClass('current');
                    $(this).closest('li').addClass('current');

                    tab.find('.tab_content').find('div.tabs_item').not('div.tabs_item:eq(' + index + ')').slideUp();
                    tab.find('.tab_content').find('div.tabs_item:eq(' + index + ')').slideDown();

                    g.preventDefault();
                } );
            })(jQuery);

        });
    </script>
    {% block add_js %}
    {% endblock %}
{% endblock %}
</body>
