<div class="col-sm-8">
    Raktažodžiai: top serveriai, populiariausi žaidimų serveriai, daugelio žaidėjų rėžimo žaidimai, cs 1.6, minecraft, samp, rust, team fortress 2, killing floor, unturned.
</div>
<div class="col-sm-4">
    <a target="_blank" href="http://www.hey.lt/details.php?id=serveriutopas"><img width="88" height="31" border="0" src="http://www.hey.lt/count.php?id=serveriutopas" alt="Hey.lt - Nemokamas lankytojų skaitliukas"></a>
</div>