{% extends "base.html.twig" %}

{% block title %}
    Populiariausi žaidimų serveriai Lietuvoje! Top serveriai
{% endblock %}

{% block description %}
    Visi populiariausi žaidimų serveriai viename puslapyje. Top {% for g in games %} {{ g.gameName }} {% endfor %} Serveriai.
{% endblock %}

{% block content %}
    <div class="col-sm-12 content">
        <div class="boxh">
            <h1>Populiariausi žaidimai ir serveriai:</h1>
        </div>
    </div>
    {% set i = 1 %}
    {% for g in games %}
        {% if i%2==1 %}
            <div class="row">
        {% endif %}
        <div class="col-lg-6 content">
        <div class="box">
            <a href="{{ path('app.gameInfo', {'game': g.name}) }}" title="{{ g.gameName }} Serveriai">
                <h3 class="maingames"
                    style="background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('{{ asset('images/maingames/' ~ g.gameType ~ '.jpg') }}') center center; background-size: cover">
                    <img alt="{{ g.gameName }} ({{ g.gameType }}) serveriai" width="42px" height="42px" src="{{ asset('images/logo/' ~ g.gameType ~ '.png') }}">&nbsp
                    {{ g.gameName }}
                    <button>Daugiau</button>
                </h3>
            </a>
            <div class="col-sm-12 nobcolp">
                <div class="tab">
                    <ul class="tabs">
                        <li><a href="#">TOP 3 SERVERIAI PAGAL BALSUS:</a></li>
                        <li><a href="#">TOP 3 SERVERIAI PAGAL ŽAIDĖJUS:</a></li>
                    </ul> <!-- / tabs -->
                    <div class="tab_content">
                        <div class="tabs_item">
                            <div class="col-sm-12 nobcolp">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Pavadinimas</th>
                                                <th>IP</th>
                                                <th>Prisijungę</th>
                                                <th>Balsai</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if topServers[g.name][1][0] is defined %}
                                                {% for s in topServers[g.name][0] %}
                                            <tr>
                                                <td>
                                                    <a title="{{ s.name }} Serveris" href="{{ path('app.serverInfo', {'game': g.name, 'id': s.id}) }}">
                                                        {{ s.name }}
                                                    </a>
                                                </td>
                                                <td>{{ s.hostname }}:{{ s.port }}</td>
                                                <td>{{ s.users }} / {{ s.maxusers }}</td>
                                                <td>{{ s.rating.totalVotes }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div> <!-- / tabs_item -->
                        <div class="tabs_item">
                            <div class="col-sm-12 nobcolp">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Pavadinimas</th>
                                            <th>IP</th>
                                            <th>Prisijungę</th>
                                            <th>Balsai</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if topServers[g.name][1][0] is defined %}
                                            {% for s in topServers[g.name][1] %}
                                                <tr>
                                                    <td>
                                                        <a title="{{ s.name }} Serveris" href="{{ path('app.serverInfo', {'game': g.name, 'id': s.id}) }}">
                                                            {{ s.name }}
                                                        </a>
                                                    </td>
                                                    <td>{{ s.hostname }}:{{ s.port }}</td>
                                                    <td>{{ s.users }} / {{ s.maxusers }}</td>
                                                    <td>{{ s.rating.totalVotes }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- / tabs_item -->
                    </div> <!-- / tab_content -->
                </div> <!-- / tab -->
                <div class="tab">
                </div>
                <div class="indexmoreserv">
                    <a href="{{ path('app.gameInfo', {'game': g.name}) }}">Visi Serveriai</a>
                </div>
                <div class="spacer" style="clear: both;"></div>
            </div>
        </div>
        </div>
        {% if i%2==0 %}
            </div>
        {% endif %}
        {% set i = i+1 %}
    {% endfor %}
    {% if games|length %2!=0 %}
        </div>
    {% endif %}
{% endblock %}