 <div class="col-sm-12 leftList">
		<li class="block blockOfNav">Navigacija <span class="glyphicon glyphicon-triangle-bottom"></span><span class="glyphicon glyphicon-triangle-right"></span></li>
        <li class="nav"><a href="{{ path('app.index') }}" title="Pagrindinis">Pagrindinis</a></li>
		<li class="block blockOfGame"> TOP Žaidimai <span class="glyphicon glyphicon-triangle-bottom"></span><span class="glyphicon glyphicon-triangle-right"></span></li>
        {% for g in games %}
            <li class="navGame"><a href="{{ path('app.gameInfo', {'game': g.name}) }}" title="{{ g.gameName }} Serveriai">{{ g.gameName }}</a></li>
        {% endfor %}
    </div>