<!--NAVBAR-->
    <div class="topbar">
        <div class="logo col-sm-6">
            <a href="{{ path('app.index') }}" title="Serverių topas">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="-429 246 100 70" xml:space="preserve" style="enable-background:new -429 246 100 70; height: 42px; display: inline-block; margin-bottom: -15px; width: 56px;">
<style type="text/css">
    .st0{fill:#FFFFFF;}
</style>
                    <path id="XMLID_4_" class="st0" d="M-384.1,282.3c3.1,3.1,4.6,6.8,4.6,11.2c0,4.3-1.5,8.1-4.6,11.2c-3.1,3.1-6.8,4.7-11.2,4.7h-29.9
	V303h29.9c2.6,0,4.8-0.9,6.6-2.8c1.8-1.8,2.8-4.1,2.8-6.6c0-2.6-0.9-4.8-2.8-6.6c-1.8-1.8-4-2.7-6.6-2.7h-14.2
	c-4.4,0-8.1-1.6-11.2-4.7c-3.1-3.1-4.6-6.8-4.6-11.2c0-4.3,1.5-8.1,4.6-11.1c3.1-3.1,6.8-4.6,11.2-4.6h29.9v6.4h-29.9
	c-2.6,0-4.8,0.9-6.6,2.8c-1.8,1.8-2.8,4-2.8,6.6c0,2.6,0.9,4.8,2.8,6.6c1.8,1.8,4,2.7,6.6,2.7h14.2
	C-390.8,277.7-387.1,279.2-384.1,282.3z"/>
                    <path id="XMLID_6_" class="st0" d="M-359.3,309.4v-50.3h-21.2v-6.4h48.8v6.4h-21.2v50.3H-359.3L-359.3,309.4z"/>
</svg>
            </a>
            <a href="{{ path('app.index') }}" title="Serverių topas">
                ServeriųTopas
            </a> <span class="glyphicon glyphicon-menu-hamburger spanLogo"></span>
        </div>
        {% if app.user==null %}
            <div class="topbarbutton col-sm-6">
                <a href="{{ path('fos_user_security_login') }}">
                <button class="btnbaltas" type="button">Prisijungti</button>
                </a>
                <a href="{{ path('fos_user_registration_register') }}">
                <button class="btnbaltas" type="button">Registruotis</button>
                </a>
            </div>
        {% else %}
        <div class="topbarbuttonlogged col-md-6">
            <a href="{{ path('app.selectGame') }}" title="Įkelti naują serverį">
                <button class="btnmelynas" type="button">Įkelti serverį</button>
            </a>
            <a href="{{ path('app.userProfile', {'id': app.user.id}) }}" title="Profilis">
				<button class="btnbaltas" type="button">{{ app.user.username }} - Profilis</button>
			</a>
            <a class="logoff" href="{{ path('fos_user_security_logout') }}" title="Atsijungti"><span class="glyphicon glyphicon-log-out"></span> Atsijungti</a>
        </div>
            {% endif %}
    </div>