{% extends "base.html.twig" %}

{% block meta %}
    <meta property="fb:app_id" content="1805199449694039" />
{% endblock %}

{% block title %}
    {{ server.name }}. Top {{ server.gameStatistics.gameName }} serveriai.
{% endblock %}

{% block description %}
    {{ server.name }} {{ server.gameStatistics.gameName }} Serveris. Visi populiariausi žaidimų serveriai viename puslapyje. Top {{ server.gameStatistics.gameType }} Serveriai.
{% endblock %}

{% block addons %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/lt_LT/sdk.js#xfbml=1&version=v2.8&appId=1805199449694039";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12 content ng-cloak" ng-app="app" ng-controller="Ctrl">
        <!--Breadcrumb-->
        <ol class="breadcrumb">
            <li><a href="{{ path('app.index') }}" title="Pagrindinis puslapis">Pagrindinis</a></li>
            <li><a href="{{ path('app.gameInfo', {'game': server.gameStatistics.name}) }}" title="{{ server.gameStatistics.gameName }} Serveriai">{{ server.gameStatistics.gameName }}</a></li>
            <li class="active">{{ server.name }}</li>
        </ol>
        <div class="box">
            <h3>Informacija</h3>
            <div class="serverInfoTable">
                <div class="serverInfoRow col-sm-6">
                    <span class="InfoBold">Pavadinimas:</span> {{ server.name }}
                </div>
                <div class="serverInfoRow col-sm-6">
                    <span class="InfoBold">Tinklapis:</span> <a href="{{ server.webpage }}" title="{{ server.webpage }} puslapis">{{ server.webpage }}</a>
                </div>
                {% if server.hostname is defined %}
                    <div class="serverInfoRow col-sm-6">
                        <span class="InfoBold">IP adresas:</span> {{ server.hostname }}:{{ server.port }}
                    </div>
                    <div class="serverInfoRow col-sm-6">
                        <span class="InfoBold">Žaidėjai:</span> {{ server.users }}/{{ server.maxUsers }}
                    </div>
                    <div class="serverInfoRow col-sm-6">
                        <span class="InfoBold">Būsena:</span> {% if server.online %} ON {% else %} OFF {% endif %}
                    </div>
                {% endif %}
                {% if server.map is defined %}
                    <div class="serverInfoRow col-sm-6">
                        <span class="InfoBold">Žemėlapis:</span> {{ server.map }}
                    </div>
                {% endif %}
                {% if server.version is defined %}
                    <div class="serverInfoRow col-sm-6">
                        <span class="InfoBold">Versija:</span> {{ server.version }}
                    </div>
                {% endif %}
                {% if server.style is defined %}
                    <div class="serverInfoRow col-sm-6">
                        <span class="InfoBold">Stilius:</span> {{ server.style }}
                    </div>
                {% endif %}
                {% if server.owner != null %}
                    <div class="serverInfoRow col-sm-6">
                        <span class="InfoBold">Autorius:</span>
                        <a href="{{ path('app.userProfile', {'id': server.owner.id}) }}" title="{{ server.owner }} Profilis">{{ server.owner }}</a>
                    </div>
                {% endif %}
                <div class="serverInfoRow col-sm-12">
                    <span class="InfoBold">Aprašymas:</span> {{ server.description|nl2br }}
                </div>
                <div class="serverInfoRow col-sm-12 serverInfoRowVote" ng-show="votes==-1">
                    <span class="glyphicon glyphicon-signal"></span> Balsai: {{ server.rating.totalVotes }}
                </div>
                <div class="serverInfoRow col-sm-12 serverInfoRowVote" ng-show="votes!=-1">
                    <span class="glyphicon glyphicon-signal"></span> Balsai: {[{ votes }]}
                </div>
            </div>
        </div>
        <div class="box">
            <h3>Balsavimas:</h3>
            <div class="serverVote">
                <div class="cpatcha">
                    {{ render(controller('AppBundle:Default:vote', {'request':app.request, 'game':game, 'id':server.id})) }}
                </div>
            </div>
        </div>

        <div class="box">
            <h3>Balsavimo paveiksliukas:</h3>
            <div class="row">
                <span style="padding-left: 5px">Norėdami įsidėti balsavimo nuorodą į savo puslapį, nukopijuokite kodą iš lauko ir įklijuokite į savo html failą.</span>
                <div class="col-sm-5">
                    <a href="{{ path('app.serverInfo', {'game': server.gameStatistics.name, 'id': server.id}) }}"><img width="180px" height="90px" src="{{ asset('images/vote/'~ server.gameStatistics.gameType ~'_vote.png') }}" title="Balsuoti už {{ server.name }} serverį"/></a>
                </div>
                <div class="col-sm-7">
                    <textarea readonly class="form-control"><a href="http://serveriutopas.lt{{ path('app.serverInfo', {'game': server.gameStatistics.name, 'id': server.id}) }}"><img width="180px" height="90px" src="http://serveriutopas.lt{{ asset('images/vote/'~ server.gameStatistics.gameType ~'_vote.jpg') }}" title="Balsuoti už {{ server.name }} serverį"/></a></textarea>
                </div>
            </div>
        </div>
        <div class="box">
            {% if server.players is defined %}
                {% if server.players|length == 0 and server.users != 0 %}
                    <h3>Žaidėjų per daug, kad būtų galima atvaizduoti.</h3>
                {% else %}
                    <h3>Žaidėjai šiuo metu serveryje:</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Slapyvardis</th>
                                <th>Taškai</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pl in server.players %}
                                <tr>
                                    <td>{{ pl.name }}</td>  <td>{{ pl.score }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="fb-comments" data-width="100%" data-href="http://serveriutopas.lt/servers/{{ server.gameStatistics.name }}/{{ server.id }}/" data-numposts="8" data-order-by="reverse_time"></div>
    </div>
{% endblock %}

{% block add_js %}
<script src="{{ asset('js/servers.js') }}"></script>
{% endblock %}

{% block add_css %}
    <link href="/css/{{ server.gameStatistics.gameType }}_style.css" rel="stylesheet">
{% endblock %}