{% extends "base.html.twig" %}

{% block title %}
    Populiariausi {{ gameObject.gameName }} Serveriai. Top serveriai
{% endblock %}

{% block description %}
    Visi populiariausi {{ gameObject.gameName }} serveriai viename puslapyje. Top {{ gameObject.gameType }} Serveriai.
{% endblock %}

{% block content %}
    <div class="col-sm-12 content ng-cloak" ng-app="app" ng-controller="Ctrl" data-ng-init="getServers('{{ game }}')">
        <div class="box">
            <h3>{{ gameObject.gameName }}</h3>
            <div class="row">
                <div class="col-md-5 content">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/{{ gameObject.trailer }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-7 content">
                    {{ gameObject.description|raw }}
                    <br><br><b>Šiame puslapyje galite rasti populiariausius Lietuvoje
                        {{ gameObject.gameName }} žaidimo serverius, stebėti žaidėjų srautą
                        ir serverio būseną.</b>
                </div>
            </div>
        </div>
        <div class="box">
            <h3>Populiariausi {{ gameObject.gameName }} serveriai</h3>
            <div ng-show="!loaded">
                {{ include('default/loadingScreen.html.twig') }}
            </div>
            <div class="table-responsive" ng-show="loaded">
                <h4 ng-show="servers.length==0">Serverių nėra</h4>
                <table class="table" ng-show="servers.length!=0">
                    <thead>
                    <tr>
                        <th>Vieta</th>
                        <th ng-show="servers[0].hostname !== undefined">IP Adresas</th>
                        <th>Name</th>
                        <th ng-show="servers[0].users !== undefined">Online žaidėjai</th>
                        <th ng-show="servers[0].max !== undefined">Max žaidėjų</th>
                        <th ng-show="servers[0].style !== undefined">Stilius</th>
                        <th ng-show="servers[0].version !== undefined">Versija</th>
                        <th ng-show="servers[0].online !== undefined">Online</th>
                        <th>Balsai</th>
                        <th>Atnaujinta prieš</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="server in servers">
                        <td><a href="/servers/{{ game }}/{[{ server.id }]}/">
                                <img ng-show="$index==0" src="/images/1.png" style="width: 32px;"/>
                                <img ng-show="$index==1" src="/images/2.png" style="width: 32px;"/>
                                <img ng-show="$index==2" src="/images/3.png" style="width: 32px;"/>
                                <div ng-show="$index>2">{[{ $index+1 }]}</div>
                            </a></td>
                        <td ng-show="{[{server.hostname !== undefined}]}">
                            <a title="{[{ server.name }]} Serveris" ng-mouseup="specialLink2(null, server.id)">
                                {[{ server.hostname }]}:{[{ server.port }]}
                            </a>
                        </td>
                        <td><a href="/servers/{{ game }}/{[{ server.id }]}/">{[{ server.name }]}</a></td>
                        <td ng-show="{[{server.users !== undefined}]}"><a href="/servers/{{ game }}/{[{ server.id }]}/" title="{[{ server.name }]} Serveris">{[{ server.users }]}</a></td>
                        <td ng-show="{[{server.max !== undefined}]}"><a href="/servers/{{ game }}/{[{ server.id }]}/" title="{[{ server.name }]} Serveris">{[{ server.max }]}</a></td>
                        <td ng-show="{[{server.style !== undefined}]}"><a href="/servers/{{ game }}/{[{ server.id }]}/" title="{[{ server.name }]} Serveris">{[{ server.style }]}</a></td>
                        <td ng-show="{[{server.version !== undefined}]}"><a href="/servers/{{ game }}/{[{ server.id }]}/" title="{[{ server.name }]} Serveris">{[{ server.version }]}</a></td>
                        <td ng-show="{[{server.online !== undefined}]}"><a href="/servers/{{ game }}/{[{ server.id }]}/" title="{[{ server.name }]} Serveris">{[{ server.online?'ONLINE':'OFFLINE' }]}</a></td>
                        <td><a href="/servers/{{ game }}/{[{ server.id }]}/" title="{[{ server.name }]} Serveris">{[{ server.votes }]}</a></td>
                        <td><a href="/servers/{{ game }}/{[{ server.id }]}/" title="{[{ server.name }]} Serveris">{[{ getTimeUpdated(server.updateTime) }]}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_js %}
    <script src="{{ asset('js/servers.js') }}"></script>
{% endblock %}

{% block add_css %}
    <link href="/css/{{ gameObject.gameType }}_style.css" rel="stylesheet">
{% endblock %}