{% if form is not null %}
    {{ form_start(form, {'attr':{'ng-non-bindable':'true'} } ) }}
    {{ form_widget(form.recaptcha) }}
    {{ form_widget(form.ipAddress) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
    <div class="voteInfo">Norėdami balsuoti, pirma turite patvirtinti 'reCAPTCHA', jog esate ne robotas. Balsuoti galima kas 22 val.</div>
{% endif %}
{% if message is not null %}
    <div class="voteInfo" ng-init="getVotes('{{ game }}', '{{ id }}')">{{ message }}</div>
{% endif %}