{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Registracija
{% endblock %}

{% block description %}
    Registracija prie ServeriuTopas.lt.
{% endblock %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
        <div class="form" style="color: #1c2022">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <h3>Registracija</h3>
            <div class="field-wrap" style="text-align: center">
                <!-- <label>
                    Prisijungimo vardas<span class="req">*</span>
                </label> -->
                <label>Slapyvardis </label>
                {{ form_widget(form.username, {'attr':{'autocomplete':'off', 'placeholder':'Prisijungimo vardas', 'style': 'border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; color: #1c2022; padding: 4px 5px; margin: 4px auto'}}) }}
            </div>

            <div class="field-wrap" style="text-align: center">
                <!-- <label>
                    Email<span class="req">*</span>
                </label> -->
                <label>El. paštas </label>
                {{ form_widget(form.email, {'attr':{'autocomplete':'off', 'placeholder':'El. paštas', 'style': 'border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; color: #1c2022; padding: 4px 5px; margin: 4px auto'}}) }}
            </div>

            <div class="top-row">

                <div class="field-wrap" style="text-align: center">
                    <!-- <label>
                        Slaptažodis<span class="req">*</span>
                    </label> -->
                    <label>Slaptažodis </label>
                    {{ form_widget(form.plainPassword.first, {'attr':{'autocomplete':'off', 'placeholder':'Slaptažodis', 'style': 'border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; color: #1c2022; padding: 4px 5px; margin: 4px auto'}}) }}
                </div>

                <div class="field-wrap" style="text-align: center">
                    <!-- <label>
                        Pakartokite slaptažodį <span class="req">*</span>
                    </label> -->
                    <label>Pakartokite slaptažodį </label>
                    {{ form_widget(form.plainPassword.second, {'attr':{'autocomplete':'off', 'placeholder':'Pakartoti slaptažodį', 'style': 'border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; color: #1c2022; padding: 4px 5px; margin: 4px auto'}}) }}
                </div>
            </div>
            <div style="text-align: center">
                <input type="submit" class="button button-block" value="Registruotis" style="color: white; background-color: #3498db; border-radius: 3px; padding: 5px 6px"/>
            </div>
            {{ form_errors(form.username) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_end(form) }}
        </div>
{% endblock fos_user_content %}
