{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_errors(form.current_password) }}
    Dabartinis slaptažodis: {{ form_widget(form.current_password, {'attr':{'autocomplete':'off', 'placeholder':'Dabartinis slaptažodis'}}) }}<br>
    {{ form_errors(form.plainPassword.first) }}
    Naujas slaptažodis: {{ form_widget(form.plainPassword.first, {'attr':{'autocomplete':'off', 'placeholder':'Naujas slaptažodis'}}) }}<br>
    {{ form_errors(form.plainPassword.second) }}
    Pakartoti naują slaptažodį: {{ form_widget(form.plainPassword.second, {'attr':{'autocomplete':'off', 'placeholder':'Naujas slaptažodis'}}) }}<br>
    <div>
        <input type="submit" value="Išsaugoti" />
    </div>
{{ form_end(form) }}
