{% extends "base.html.twig" %}

{% block title %}
    Pasirinkti žaidimą. Įkelti naują serverį.
{% endblock %}

{% block description %}
    Nemokamai įkelkite savo serverį į topą ir sulaukite daugiau žaidėjų. Top serveriai.
{% endblock %}

{% block content %}
    <div class="col-sm-12 content ng-cloak" ng-app="app" ng-init="game=''; loaded=true">
        <div class="box">
            <h3>Serverio informacija</h3>
            <div class="inlinetherow">
            <p>Pasirinkite žaidimą:</p>
            <div class="addgames">
                <select ng-model="game" ng-change="loaded=false" style="color: black">
                    {% for g in games %}
                        <option value="{{ g.name }}">
                            {{ g.gameName }}
                        </option>
                    {% endfor %}
                    <option value=""></option>
                </select>
                <div ng-show="!loaded">
                    {{ include('default/loadingScreen.html.twig') }}
                </div>
                <div ng-show="loaded">
                    <div ng-include="game" style="transform: all ease-in 2s" onload="loaded = true"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_js %}
<script src="{{ asset('js/servers.js') }}"></script>
{% endblock %}