{% extends "base.html.twig" %}

{% block title %}
    {{ user.username }} Profilis
{% endblock %}

{% block description %}
    Visa informacija apie {{ user.username }}. Vartotojo įkelti serveriai, statistika, redagavimas.
{% endblock %}

{% block content %}
    <div class="col-sm-12 content ng-cloak" ng-app="app" ng-controller="Ctrl" data-ng-init="getPlayerServers('{{ user.id }}')">
        <div class="box">
            <h3>Vartotojas - {{ user.username }}</h3>
            <!-- Jeigu prisijungusio user'io sitas profilis -->
            {% if app.user!=null and user.id == app.user.id %}
                <div class="userPassChange">
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" with {'form':form} %}
                </div>
            {% endif %}
        </div>
        <div class="box">
            <div ng-show="!loaded">
                {{ include('default/loadingScreen.html.twig') }}
            </div>
            <div class="table-responsive" ng-show="loaded">
                <h3>{% if app.user == null %}
                        {{ user.username }}
                    {% elseif user.id != app.user.id %}
                        {{ user.username }}
                    {% else %}
                        Tavo
                    {% endif %}
                    serveriai:</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Žaidimas</th>
                        <th>IP Adresas</th>
                        <th>Pavadinimas</th>
                        <th>Žaidėjai</th>
                        <th>Max žaidėjų</th>
                        <th>Online</th>
                        <th>Balsai</th>
                        <th>Atnaujinta prieš</th>
                        {% if owner %}
                            <th>Redaguoti</th>
                            <th>Ištrinti</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="server in servers">
                        <td>{[{ server.game }]}</td>
                        <td ng-show="{[{server.hostname !== undefined}]}">
                            <a title="{[{ server.name }]} Serveris" ng-mouseup="specialLink2(server.game, server.id)">
                                {[{ server.hostname }]}:{[{ server.port }]}
                            </a>
                        </td>
                        <td>{[{ server.name }]}</td>
                        <td><div ng-show="{[{server.users !== undefined}]}">{[{ server.users }]}</div></td>
                        <td><div ng-show="{[{server.max !== undefined}]}">{[{ server.max }]}</div></td>
                        <td><div ng-show="{[{server.online !== undefined}]}">{[{ server.online?'ONLINE':'OFFLINE' }]}</div></td>
                        <td>{[{ server.votes }]}</td>
                        <td>{[{ getTimeUpdated(server.updateTime) }]}</td>
                        {% if owner %}
                            <td><a href="/edit/{[{ server.game }]}/{[{ server.id }]}/" style="color: dodgerblue"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><button ng-click="removeServer(server.game, server.id, $index)" style="color: dodgerblue; background: transparent; border: none"><span class="glyphicon glyphicon-trash"></span></button></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_js %}
<script src="{{ asset('js/servers.js') }}"></script>
{% endblock %}