<h3>{{ game.gameName }}</h3>
        <div class="box">
            <div class="addgames">
                {% if form is not null %}
                    {{ form_start(form, {'method': 'post', 'action': path('app.createServer', {'game':game.name})}) }}
                    IP adresas: <br> {{ form_widget(form.hostname) }}<br><br>
                    Port: <br> {{ form_widget(form.port) }}<br><br>
                    {% if form.queryPort is defined %}
                        Query port: <br> {{ form_widget(form.queryPort) }} (Jei nežinote, kas tai yra, palikite tuščią)<br><br>
                    {% endif %}
                    Pavadinimas: <br> {{ form_widget(form.name) }}<br><br>
                    Trumpas aprašymas: <br> {{ form_widget(form.description) }}<br><br>
                    Puslapio nuoroda: <br> {{ form_widget(form.webpage) }}<br><br>

                    {% if form.style is defined %}
                        Stilius: <br> {{ form_widget(form.style) }}<br><br>
                    {% endif %}
                    {% if form.version is defined %}
                        Versija: <br> {{ form_widget(form.version) }}<br><br>
                    {% endif %}

                    {{ form_widget(form.recaptcha) }}<br>
                    {{ form_widget(form.save) }}<br>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>