{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Prisijungimas
{% endblock %}

{% block description %}
    Prisijungimas prie ServeriuTopas.lt.
{% endblock %}

{% block fos_user_content %}
<form action="{{ path("fos_user_security_check") }}" method="post" id="login_form">
    <h3>Prisijungimas</h3>
    <div class="loginforminside">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <label for="username">Prisijungimas </label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Prisijungimo vardas"/><br>
        <label for="password">Slaptažodis </label>
        <input type="password" id="password" name="_password" required="required" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;"/><br>
        <label class="rememberInForm">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Prisiminti slaptažodį
        </label><br>
        {% if error %}
            <div style="color: red">Prisijungimo vardas ir slaptažodis nesutampa.</div>
        {% endif %}
        <a href="{{ path('fos_user_resetting_request') }}">Pamiršau slaptažodį</a>
        <button type="submit" class="btn btn-default" form="login_form">
            PRISIJUNGTI
        </button>
    </div>
</form>
{% endblock fos_user_content %}