{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <h3>Slaptažodžio priminimas</h3>
    <div style="padding: 4px; text-align: center">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" style="color: #1c2022; margin: 3px; padding: 2px 4px"/>
    </div>
    <div style="padding: 4px; text-align: center">
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" style="color: white; background-color: #3498db; border: none; padding: 4px 5px"/>
    </div>
</form>
