{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <h3>Slaptažodžio pakeitimas</h3>
    <div style="text-align: center">
        {{ form_errors(form.plainPassword.first) }}
        Naujas slaptažodis: {{ form_widget(form.plainPassword.first, {'attr': {'style': 'border: none; margin: 3px; padding: 4px 5px; color: #1c2022'}}) }}<br>
        {{ form_errors(form.plainPassword.second) }}
        Pakartokite slaptažodį: {{ form_widget(form.plainPassword.second, {'attr': {'style': 'border: none; margin: 3px; padding: 4px 5px; color: #1c2022'}}) }}<br>
        {{ form_rest(form) }}
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" style="color: white; background-color: #3498db; border: none; padding: 4px 5px"/>
        </div>
    </div>
{{ form_end(form) }}
