@media (max-width: 991px)
	.topbar
		display: block
		height: auto
		.topbarbutton
			margin: 10px auto
		.topbarbuttonlogged
			display: block
			height: auto
			margin: 10px auto
			text-align: center
	.leftSidebar
		height: auto
		display: flex
		border-radius: 1rem 1rem 0 0
		.leftList
			width: 100%
			text-align: center
			.nav
				display: none
			.navGame
				display: none
	.contentRight
		height: auto
		display: block
		border-radius: 0 0 1rem 1rem
		.content
			.box
				.inlinetherow
					display: block
				.serverVote
					display: inline-block
					.voteNumber
						padding: 8px 2px
						width: 100%
					.cpatcha
						display: block
				.contentVote, .contentOnline
					a
						display: table-header-group
	.col-lg-10
		padding: 0 1px
		width: 100%