$background: #000
$background-top: #485080
$backgroundwebkit: -webkit-linear-gradient(to top, $background, $background-top)
$backgroundgradient: linear-gradient(to top, $background, $background-top)
$contentbg: #ccd8e4 //sidenav a color & border bottom of tr and td in table-responsive
$trtdhover: #eef5fc //hovered table tr td
$white: #ffffff // h1-h5 & a lot of other places
$dblue: dodgerblue //all dodgerblue colors
$links: #6b757d //left sidebar a color & contentVote, contentOnline color + content % content h1 color
$buttons: #3498db //vote info button
$hBg: #1c2022 // addgames input color & loginforminside color
$inputpass: #2a3134 //Password Change input color
$boxbord: #cecece //gamebox border color
$leftsidebarbg: #19232f //all left sidebar background color
$buttonbackg: linear-gradient(to top, #fe3464, #f85e56) //beutiful button background
$othergr: linear-gradient(to top,#fe3464,#f85e56) //used in button + boxtag bg
$buttonbshadow: rgba(254,52,100,0.4) //buttons box shadow
$fbborder: #e5e6e9 #dfe0e4 #d0d1d5 //in fb used border in st project
$sidebg: #1d2937 //sidebar background color
$sidebhovered: #27394e //hovered sidenav a background color
$footerbg: #161F2A //footer background
$contentr: #e9ebee //content right background color
$boxbg: #f6f7f9 //box background colors
$bluevotes: rgb(97, 160, 226) //blue votes color
$greenonline: #2ecc71 //green online color
$borderc: #dfe0e4 //other lots of times used border color


html, body
	padding: 0px
	margin: 0px
	min-height: 100vh
	background: $background url("/images/bg.png")
	background-attachment: fixed
	background-size: cover

h1, h2, h3, h4, h5
	color: $white
	font-family: sans-serif
	margin-top: 0px
	margin-bottom: 0px

label
	font-weight: normal
.rowb
	display: flex
	justify-content: center
	margin: 0 auto

.topbar
	display: inline-flex
	justify-content: center
	align-items: center
	width: 100%
	height: 90px
	.logo
		text-align: left
		a, span
			font-size: 2rem
			color: $white
			padding-left: 15px
		span
			display: none
		a, a:hover
			text-decoration: none
	.topbarbutton
		text-align: right
		button
			border-radius: 2.5em
			display: inline-block
			font-size: 1.125rem
			text-decoration: none
			text-transform: uppercase
			padding: 0.7em 1.5em
			margin: auto
			background: $buttonbackg
			color: $white
			box-shadow: 0 6px 25px rgba(254, 52, 100, 0.4)
			transition: box-shadow 0.5s ease
			font-weight: bold
			border: none
			&:hover, &:focus
				box-shadow: 0 8px 40px rgba(254, 52, 100, 0.6)
	.topbarbuttonlogged
		text-align: right
		display: inline-flex
		justify-content: end
		align-items: center
		.logoff
			border-radius: 2.5em
			display: inline-block
			font-size: 1.125rem
			text-decoration: none
			text-transform: uppercase
			padding: 0.7em 1.5em
			margin: 2px 5px
			background: $dblue
			box-shadow: none
			color: $white
			font-weight: bold
			border: none
			&:hover, &:focus
				box-shadow: none
		button
			border-radius: 2.5em
			display: inline-block
			font-size: 1.125rem
			text-decoration: none
			text-transform: uppercase
			padding: 0.7em 1.5em
			margin: 2px 5px
			background: $buttonbackg
			color: $white
			box-shadow: 0 6px 25px rgba(254, 52, 100, 0.4)
			transition: box-shadow 0.5s ease
			font-weight: bold
			border: none
			&:hover, &:focus
				box-shadow: 0 8px 40px rgba(254, 52, 100, 0.6)

footer
	background: $footerbg
	color: #44566C
	text-align: center
	height: 100%
	border-radius: 0px
	padding: 10px 2px

.copyright
	color: $white
	text-align: center
	height: 100%
	border-radius: 0px
	padding: 10px 1px

.leftSidebar
	background: $leftsidebarbg
	color: $links
	padding: 0px
	text-align: center
	height: 100%
	border-radius: 1rem 0 0 0
	a
		color: $links
		text-decoration: none
	.leftList
		padding: 0px
		text-transform: uppercase
		text-align: left
		li
			list-style-type: none
			line-height: 25px
			-webkit-transition: all 0.3s ease-in-out
			transition: all 0.3s ease-in-out
		.nav, .navGame
			padding: 0 5px 0 5px
			font-weight: bold
			font-size: 12px
			cursor: pointer
			background: $sidebg
			margin-bottom: 2px
			border-left: 3px solid $sidebg
			-webkit-transition: all 0.3s ease-in-out
			transition: all 0.3s ease-in-out
			&:hover
				background: $sidebhovered
				border-left: 3px solid $dblue
				box-shadow: inset 10px 0 12px -11px $dblue
		.navGame a, .nav a
			color: $contentbg
			font-size: 1rem
			display: block
			height: 100%
			width: 100%
			padding: 6px 0
		.block
			color: $white
			font-weight: bold
			padding: 10px 10px
			cursor: pointer
			font-size: 1.2rem
			span
				font-size: 12px
				padding-left: 8px
			.glyphicon-triangle-right
				display: none
.contentRight
	background: $contentr
	border-radius: 0 1rem 0 0
	height: 100%
	h1
		font-size: 25px
		padding: 0px
		color: $links
	a
		text-decoration: none
		&:hover
			text-decoration: none
	.row
		margin: 0 auto
	.allGames
		width: 100%
		margin: 0px
		padding: 10px
		a
			line-height: 44px
			text-decoration: none
			font-size: 18px
			background: $white
			text-align: center
			width: 100%
			display: block
			color: $dblue
			text-transform: uppercase
			border: 1px solid
			border-color: $fbborder
			border-radius: 3px

	.content
		color: $links
		padding: 10px
		.userPassChange
			padding: 5px 10px
			width: 100%
			height: auto
			text-align: center
			input[type="submit"]
				color: $white
				background: $dblue
				padding: 4px 10px
				border: 1px solid
				border-color: $fbborder
				border-radius: 3px
			input[type="password"]
				color: $inputpass
				margin: 4px 2px
				padding: 3px 5px
				border: 1px solid
				border-color: $fbborder
				border-radius: 3px
		.gamesBox
			width: 26em
			min-width: 210px
			max-width: 100%
			position: relative
			display: inline-block
			margin: 30px
			border: 1px solid $boxbord
			border-radius: 3px
			transition: all .2s ease-in-out
			&:nth-of-type(1)
			background: center / cover no-repeat
			&:nth-of-type(2)
			background: center / cover no-repeat
			&:nth-of-type(3)
			background: center / cover no-repeat
			&:nth-of-type(4)
			background: center / cover no-repeat
			&:nth-of-type(5)
			background: center / cover no-repeat
			&:nth-of-type(6)
			background: center / cover no-repeat
			&:nth-of-type(7)
			background: center / cover no-repeat
			&:nth-of-type(8)
			background: center / cover no-repeat
			&:before, &:after
				content: ''
				display: block
				width: 100%
				padding-bottom: 60%
				top: 0
				left: 0
				background: inherit
				border-radius: inherit
			&:after
				position: relative
			&:hover
				transform: scale(1.2)
			&:before
				position: absolute
				filter: blur(20px)
				top: 20px
		.breadcrumb
			background-color: $sidebhovered
			li
				a
					color: $dblue
			.active
				color: $white
		.boxh
			width: 100%
			margin: 5px auto
			overflow: hidden
			text-align: left
			padding: 10px 5px 0 5px
			h1
				color: $sidebhovered
				font-size: 2rem
		.box
			background: $boxbg
			width: 100%
			margin: 10px auto
			overflow: hidden
			border: 1px solid
			border-color: $fbborder
			border-radius: 3px
			.indexmoreserv
				a
					display: block
					text-align: center
					background: #e5e6e9
					color: #B7B8BA
					padding: 7px 0
					text-transform: uppercase
					font-size: 1rem
					font-weight: bold
					&:hover
						color: #A4A5A7
			.nobcolp
				padding: 0
			.tab
				position: relative
				overflow: hidden
				margin: 0 auto
				font-family: sans-serif
				line-height: 1.5
				font-weight: 300
				color: #888
				-webkit-font-smoothing: antialiased
				padding: 0
				width: 100%
			.tabs
				display: table
				position: relative
				overflow: hidden
				margin: 0
				width: 100%
				padding: 0
			.tabs li
				float: left
				line-height: 30px
				width: 50%
				overflow: hidden
				padding: 0
				position: relative
				background: linear-gradient(to top, #fe3464, #f85e56)
			.tabs a
				color: white
				font-weight: bold
				display: block
				letter-spacing: 0
				outline: none
				padding: 0 20px
				text-decoration: none
				-webkit-transition: all 0.2s ease-in-out
				-moz-transition: all 0.2s ease-in-out
				transition: all 0.2s ease-in-out
				border-bottom: 2px solid #fe3464
				text-align: center
				font-size: 1rem
			.tabs_item
				display: none
				padding: 0
			.tabs_item:first-child
				display: block
			.current a
				color: #fff
				background: rgba(0, 0, 0, 0.4)
				border-bottom: 2px solid rgba(0, 0, 0, 0.3)
			input
				border: 1px solid
				border-color: $fbborder
				border-radius: 3px
			.maingames
				display: inline-flex
				justify-content: space-between
				width: 100%
				align-items: center
				button
					border: 2px solid #fe3464
					border-radius: 10px
					background: transparent
					color: #fe3464
					padding: 2px 7px
					&:hover
						border: 2px solid #f85e56
						color: #f85e56
			.inlinetherow
				display: inline-flex
				.addgames
					padding: 6px 5px
					input
						margin: 3px
						padding: 4px 5px
						color: $hBg
						border: 1px solid
						border-color: $fbborder
						border-radius: 3px
					button
						background: $dblue
						color: $white
						padding: 4px 6px
						margin: 2px 4px
						border: none
			.loginforminside
				text-align: center
				input
					color: $hBg
				#username, #password
					margin: 3px
					padding: 4px 5px
					border: 1px solid
					border-color: $fbborder
					border-radius: 3px
				button
					color: $white
					background-color: $dblue
					border: none
			a
				text-decoration: none
			.table-responsive
				table
					margin: 0
				thead th
					color: #939496
					background: #e5e6e9
					text-align: center
					border: none
					text-transform: uppercase
					font-size: 1.1rem
				td
					padding: 10px
					a
						width: 100%
						height: 100%
						display: block
						color: $links
						text-decoration: none
				tr, td
					text-align: center
					border: none
					-webkit-transition: all 0.3s ease-in-out
					transition: all 0.3s ease-in-out
					border-bottom: 1px solid #e5e6e9
					font-size: 1.2rem
					&:hover
						background: #EEEFF0
			.contentVote
				line-height: 30px
				color: $links
				width: 100%
				height: 100%
				display: block
				padding: 0
				margin: 10px 0
				background: $white
				transition: all 0.3s ease-out
				text-decoration: none
				font-size: 1.2rem
				display: inline-flex
				border: 1px solid
				border-color: $fbborder
				border-radius: 3px
				width: 100%
				overflow: hidden
				white-space: nowrap
				.rightSideTagVote
					font-size: 1.1rem
					width: 100%
					.col-sm-12
						padding: 0
						overflow: hidden
						white-space: nowrap
					.col-sm-12:nth-of-type(-n+2)
						border-bottom: 1px solid $borderc
				.voteNumber
					padding: 0
					text-align: center
					color: $dblue
					display: flex
					justify-content: center
					align-items: center
					font-weight: bold
					line-height: 14px
					border: 1px solid $borderc
					border-right: 2px solid $borderc
					padding: 2px
					width: 50%
				&:hover
					background: $boxbg
					color: $sidebhovered
			.contentOnline
				line-height: 30px
				color: $links
				width: 100%
				height: 100%
				display: block
				padding: 0
				margin: 10px 0
				background: $white
				transition: all 0.3s ease-out
				text-decoration: none
				font-size: 1.2rem
				display: inline-flex
				border: 1px solid
				border-color: $fbborder
				border-radius: 3px
				width: 100%
				overflow: hidden
				white-space: nowrap
				.rightSideTagVote
					font-size: 1.1rem
					width: 100%
					.col-sm-12
						padding: 0
						overflow: hidden
						white-space: nowrap
					.col-sm-12:nth-of-type(-n+2)
						border-bottom: 1px solid $borderc
				.playersNumber
					padding: 0
					text-align: center
					color: $greenonline
					display: flex
					justify-content: center
					align-items: center
					font-weight: bold
					line-height: 14px
					border: 1px solid $borderc
					border-right: 2px solid $borderc
					padding: 2px
					width: 50%
				.rightSideTagVote
					font-size: 1.1rem
				&:hover
					background: $boxbg
					color: $sidebhovered
			h3
				padding: 10px 5px
				color: $white
				font-size: 1.7rem
				background: $sidebg
			p
				padding: 10px 5px
			.serverInfoTable
				text-align: left
				padding-left: 8px
				.serverInfoRow
					padding: 8px 4px
					font-size: 1.2rem
					.InfoBold
						text-transform: uppercase
						color: $sidebhovered
						font-weight: bold
						font-size: 1.2rem
				.serverInfoRowVote
					color: $bluevotes
					text-transform: uppercase
					font-size: 18px
					text-align: center
			.serverVote
				display: inline-block
				width: 100%
				button
					margin: 5px 0 -3px 0px
					background: $othergr
					color: $white
					box-shadow: 0 6px 25px $buttonbshadow
					transition: box-shadow .5s ease
					font-weight: bold
					border: 0
					font-size: 1.125rem
					text-decoration: none
					text-transform: uppercase
					padding: .7em 1.5em
				.cpatcha
					display: inline-flex
					width: 100%
					justify-content: center
					align-items: center
					form
						display: inline-flex
				.g-recaptcha
					float: left
					margin-left: 10px
					line-height: 156px
				.voteInfo
					color: $buttons
					clear: both
					padding: 10px 20px
.loader
	height: 100px
	width: 100%
	text-align: center
	padding: 1em
	margin: 0 auto 1em
	display: inline-block
	vertical-align: top

@import 'responsive.sass'